streamlit==0.84.1
spacy-streamlit==1.0.2
scipy==1.4.1
HeapDict==1.0.1
numpy==1.19.5
pandas==1.3.0
plotly==4.14.3
pytextrank==3.2.1
nltk==3.4.5
regex==2021.7.6
spacy==3.1.2
textblob==0.15.3
vaderSentiment==3.3.2
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.1.0/en_core_web_sm-3.1.0-py3-none-any.whl
